In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/transport-details/DEVASHREE NEW 2024 2.xlsx

In [2]:
file_path='/kaggle/input/transport-details/DEVASHREE NEW 2024 2.xlsx'

In [3]:
df=pd.read_excel(file_path,sheet_name='Sheet1',usecols=range(8))

In [4]:
df.dtypes

LO DATE       object
UN DATE       object
PARTY         object
VECHILE NO    object
GC            object
L.W           object
FRIGHT        object
TOTAL         object
dtype: object

In [5]:
df.head()

,LO DATE,UN DATE,PARTY,VECHILE NO,GC,L.W,FRIGHT,TOTAL
0,2022-11-15 00:00:00,2022-11-17 00:00:00,JEEVAKA NETTING,TS07UF4929,132,51.75,NaN,NaN
1,2022-11-11 00:00:00,2022-11-15 00:00:00,JEEVAKA NETTING,TS06UA4712,03,48.99,NaN,NaN
2,2022-11-12 00:00:00,2022-11-15 00:00:00,JEEVAKA NETTING,TS07UA9099,12,46.94,NaN,NaN
3,2022-11-12 00:00:00,2022-11-13 00:00:00,JEEVAKA NETTING,TS06UC7272,13,55.31,NaN,NaN
4,2022-11-14 00:00:00,2022-11-16 00:00:00,SUSHMA,TS07UA3339,36,48.57,NaN,NaN

In [6]:
# Filter out rows containing header-like text 
df = df[~df.apply(lambda row: row.astype(str).str.contains('HEADER|LO DATE|UN DATE|PARTY|VECHILE NO|GC|L.W|FRIGHT|TOTAL', na=False).any(), axis=1)]

# Reset the index of the cleaned dataframe
df.reset_index(drop=True, inplace=True)

# Display the cleaned dataframe
print(df.head())

               LO DATE              UN DATE            PARTY  VECHILE NO   GC  \
0  2022-11-15 00:00:00  2022-11-17 00:00:00  JEEVAKA NETTING  TS07UF4929  132
1  2022-11-11 00:00:00  2022-11-15 00:00:00  JEEVAKA NETTING  TS06UA4712   03
2  2022-11-12 00:00:00  2022-11-15 00:00:00  JEEVAKA NETTING  TS07UA9099   12
3  2022-11-12 00:00:00  2022-11-13 00:00:00  JEEVAKA NETTING  TS06UC7272   13
4  2022-11-14 00:00:00  2022-11-16 00:00:00          SUSHMA   TS07UA3339   36

     L.W FRIGHT TOTAL
0  51.75    NaN   NaN
1  48.99    NaN   NaN
2  46.94    NaN   NaN
3  55.31    NaN   NaN
4  48.57    NaN   NaN

In [7]:
  # This will drop rows that are completely (NaN in all columns)
df = df.dropna(how='all')

In [8]:
df[['LO DATE', 'UN DATE']] = df[['LO DATE', 'UN DATE']].apply(pd.to_datetime, errors='coerce', format="%Y-%m-%d")
df[['PARTY', 'VECHILE NO']] = df[['PARTY', 'VECHILE NO']].astype(str)

In [9]:
df[['GC', 'FRIGHT']] = df[['GC', 'FRIGHT']].apply(pd.to_numeric, errors='coerce')
df[['GC', 'FRIGHT']] = df[['GC', 'FRIGHT']].astype('Int64')  # Optional: Convert to nullable Int64

In [10]:
df.dtypes

LO DATE       datetime64[ns]
UN DATE       datetime64[ns]
PARTY                 object
VECHILE NO            object
GC                     Int64
L.W                   object
FRIGHT                 Int64
TOTAL                 object
dtype: object

In [11]:
#This displays all the rows where at least one value is NaN
nan_rows = df[df.isna().any(axis=1)]
print(nan_rows)

        LO DATE    UN DATE                    PARTY            VECHILE NO  \
0    2022-11-15 2022-11-17          JEEVAKA NETTING            TS07UF4929
1    2022-11-11 2022-11-15          JEEVAKA NETTING            TS06UA4712
2    2022-11-12 2022-11-15          JEEVAKA NETTING            TS07UA9099
3    2022-11-12 2022-11-13          JEEVAKA NETTING            TS06UC7272
4    2022-11-14 2022-11-16                  SUSHMA             TS07UA3339
5    2022-11-15 2022-11-16                 ILC IRON            TS07UC0804
9    2022-11-13 2022-11-13          JEEVAKA NETTING            TS06UC6989
10   2022-11-15 2022-11-15          JEEVAKA NETTING            TS13UC0189
148         NaT        NaT                      nan  MANJUNATHA TRANSPORT
978  2023-11-25 2023-12-01      KAMINI IRON & STEEL            TS07UC0918
979  2023-11-28 2023-12-01      KAMINI IRON & STEEL            TS06UC7272
980  2023-11-30 2023-12-02    BAB AKHILA SAI JYOTHI            TS07UA9099
981  2023-11-29 2023-12-03      KAMINI IRON & STEEL            TS07UF4895
1101 2023-01-04        NaT                    43.45                   225
1102 2023-01-04        NaT                    45.28                   225
1746        NaT 2024-08-20            APPLE SURAIDO            TS06UB4762
1979 2024-10-17 2024-10-18  M/S KAMINI IRON & STEEL            TS06UA9945

        GC    L.W  FRIGHT    TOTAL
0      132  51.75    <NA>      NaN
1        3  48.99    <NA>      NaN
2       12  46.94    <NA>      NaN
3       13  55.31    <NA>      NaN
4       36  48.57    <NA>      NaN
5      127  51.27    <NA>      NaN
9       23  60.34    <NA>      NaN
10      22  60.44    <NA>      NaN
148   <NA>    NaN    <NA>      NaN
978   2691  44.03     950      NaN
979   2735  49.38     950      NaN
980   2757  46.41     950      NaN
981   2749  46.12     950      NaN
1101  <NA>    NaN    <NA>  9776.25
1102  <NA>    NaN    <NA>    10188
1746  1200  45.24     900    40716
1979  1787           1000      NaN

In [12]:
nan_rows = df[df[['LO DATE', 'UN DATE']].isna().any(axis=1)]
print(nan_rows)

        LO DATE    UN DATE          PARTY            VECHILE NO    GC    L.W  \
148         NaT        NaT            nan  MANJUNATHA TRANSPORT  <NA>    NaN
1101 2023-01-04        NaT          43.45                   225  <NA>    NaN
1102 2023-01-04        NaT          45.28                   225  <NA>    NaN
1746        NaT 2024-08-20  APPLE SURAIDO            TS06UB4762  1200  45.24

      FRIGHT    TOTAL
148     <NA>      NaN
1101    <NA>  9776.25
1102    <NA>    10188
1746     900    40716

In [13]:
#df[['LO DATE', 'UN DATE']]=df[['LO DATE','UN DATE' ]].interpolate(method='linear')

In [14]:

nan_rows1 = df[df['L.W'].isna()]  # Select rows where 'L.W' is NaN
df = df.drop(nan_rows1.index)  # Drop these rows using their index

In [15]:
df['FRIGHT'] = df['FRIGHT'].fillna(900)

In [16]:
#THERE IS A WRONG ENTRY WHERE LODATE=2002 WHICH IS ACTUALLY 2024 WE CAME ACROSS THIS ERROR WHILE PLOTTING SNS COUNTPLOT BY YEAR SO IAM REPLACING THAT
df['LO DATE'] = df['LO DATE'].apply(lambda x: x.replace(year=2024) if x.year == 2002 else x)

In [17]:
df['TOTAL'] = df['TOTAL'].fillna(df['FRIGHT'] * df['L.W'])

In [18]:
nan_count = df.isna().sum()  # Counts NaNs in each column
print(nan_count)

LO DATE       1
UN DATE       0
PARTY         0
VECHILE NO    0
GC            0
L.W           0
FRIGHT        0
TOTAL         0
dtype: int64

In [19]:
print(df['LO DATE'].isna().sum())  # Count NaT values
print(df[df['LO DATE'].isna()])
df['LO DATE'] = df['LO DATE'].ffill()  
print(df[df['GC'] == 1200])

1
     LO DATE    UN DATE          PARTY  VECHILE NO    GC    L.W  FRIGHT  TOTAL
1746     NaT 2024-08-20  APPLE SURAIDO  TS06UB4762  1200  45.24     900  40716
        LO DATE    UN DATE          PARTY  VECHILE NO    GC    L.W  FRIGHT  \
1746 2024-08-19 2024-08-20  APPLE SURAIDO  TS06UB4762  1200  45.24     900

      TOTAL
1746  40716

In [20]:
df.head(25)

,LO DATE,UN DATE,PARTY,VECHILE NO,GC,L.W,FRIGHT,TOTAL
0,2022-11-15,2022-11-17,JEEVAKA NETTING,TS07UF4929,132,51.75,900,46575.0
1,2022-11-11,2022-11-15,JEEVAKA NETTING,TS06UA4712,3,48.99,900,44091.0
2,2022-11-12,2022-11-15,JEEVAKA NETTING,TS07UA9099,12,46.94,900,42246.0
3,2022-11-12,2022-11-13,JEEVAKA NETTING,TS06UC7272,13,55.31,900,49779.0
4,2022-11-14,2022-11-16,SUSHMA,TS07UA3339,36,48.57,900,43713.0
5,2022-11-15,2022-11-16,ILC IRON,TS07UC0804,127,51.27,900,46143.0
9,2022-11-13,2022-11-13,JEEVAKA NETTING,TS06UC6989,23,60.34,900,54306.0
10,2022-11-15,2022-11-15,JEEVAKA NETTING,TS13UC0189,22,60.44,900,54396.0
14,2022-11-16,2022-11-18,APPLE SURAIDO,TS07UC0803,140,45.38,900,40842
15,2022-11-18,2022-11-19,KAMINI IRON,TS08UD2789,197,52.44,900,47196
16,2022-11-17,2022-11-18,JEEVAKA NETTING,TS07UF3789,178,47.71,900,42939
17,2022-11-17,2022-11-19,JEEVAKA NETTING,TS06UB1529,172,49.06,900,44154
18,2022-11-18,2022-11-19,KAMINI IRON,TS31T1988,210,45.8,900,41220
19,2022-11-17,2022-11-18,JEEVAKA NETTING,TS07UH2624,208,55.83,900,50247
20,2022-11-18,2022-11-19,APPLE SURAIDO,TS07UH4527,190,46.08,900,41472
21,2022-11-18,2022-11-19,JEEVAKA NETTING,TS07UF5679,222,50.79,900,45711
25,2022-11-21,2022-11-22,SHREE MAHAVIR,TS06UA4712,264,46.08,900,41472
26,2022-11-20,2022-11-21,SHREE MAHAVIR,TS06UB1158,250,46.82,900,42138
27,2022-11-19,2022-11-20,JEEVAKA NETTING,TS07UC7799,242,54.65,900,49185
28,2022-11-19,2022-11-21,JEEVAKA NETTING,AP35X7665,243,42.02,900,37818
29,2022-11-21,2022-11-22,APPLE SURAIDO,AP28TD0788,256,44.26,900,39834
30,2022-11-21,2022-11-22,KAMINI IRON,TS07UA9099,265,45.5,900,40950
34,2022-11-22,2022-11-23,APPLE SURAIDO,TS07UC0804,278,44.96,900,40464
35,2022-11-22,2022-11-23,SHREE MAHAVIR,TS06UA9279,287,43.89,900,39501
36,2022-11-23,2022-11-24,APPLE SURAIDO,TS31T1988,290,45.32,900,40788

In [21]:
counts = df['PARTY'].value_counts()
print((counts.head(60)))

PARTY
APPLE SURAIDO                  148
KAMINI IRON & STEEL            108
JEEVAKA NETTING                 87
ILC IRON & STEEL                60
AARAL MARKETING                 48
M/S KAMINI IRON & STEEL         47
M/S AARAL MARKETING             45
M/S JEEVAKA NETTING             44
BABA AKHILA SAI JYOTHI          40
M/S APPLE SURAIDO FITTING       35
M/S I.L.C IRON & STEEL          33
M/S APPLE SURAIDO FITTINGS      32
M/S APPLE SURAIDO               30
KAMINI IRON                     28
M/S KOTHARI ISPAT               26
M/S SWASTIK STEELS              25
KANIKA ISPAT                    24
VANYA STEELS                    23
M/S RAJENDER METALLIC           22
A.S IRON & STEEL                20
RAJENDER METALLICS              18
SD CORP                         18
M/S AKASH STEELS                17
M/S KAMINI IRON & STEELS        16
KAMINI IRON AND STEEL           15
M/S VANYA STEELS                14
TN COMMERCIAL                   14
M/S KAMINI IRON                 13
M/S SRI KRISHNA STEELS          13
SHREE MAHAVIR                   13
M/S SUSHMA SALES                13
M/S ARCHANA IRON TRADERS        12
M/S S.D CORP                    12
M/S KANIKA ISPAT                12
ARCHANA IRON                    11
M/S SATVIK GLOBAL               11
M/S ANUPAM FUELS                11
M/S BABA AKHILA JYOTHI          10
SATVIK GLOBAL                   10
KAMINI IRON &STEEL              10
RAM SHYAM ENTERPRISES           10
M/S SHREE MAHAVIR STEELS        10
M/S ILC IRON & STEEL             9
BHADRASHREE STEEL                9
T N COMMERCIALS                  9
SRI KRISHNA STEELS               8
M/S T.N COMMERCIAL               8
M/S VANYA STEELS                 8
SHREE MAHAVIR STEELS             8
I.L.C IRON & STEEL               8
KARNATAKA FERRO                  8
T N COMMERCIAL                   7
VANYA STEEL                      7
M/S SHARMA STEELS                7
RAJENDRA METALLICS               6
S.D CORPORATION                  6
SHREE MAHAVIR STEEL              6
M/S APPLE SURAIDO FIITTINGS      6
A S IRON & STEEL                 6
M/S RAJENDER METTALIC            6
Name: count, dtype: int64

In [22]:
len(counts)

180

In [23]:
"""
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S KAMINI IRON & STEEL' if 'KAMINI' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S APPLE SURAIDO FITTINGS' if 'APPLE' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S JEEVAKA NETTING ' if 'JEEVAKA' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ILC IRON & STEEL ' if 'ILC' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ILC IRON & STEEL ' if 'I.L.C' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S AARAL MARKETING ' if 'AARAL' in x else x)
df['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ARCHANA IRON TRADERS' if 'ARCHANA' in x else x) 
"""

"\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S KAMINI IRON & STEEL' if 'KAMINI' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S APPLE SURAIDO FITTINGS' if 'APPLE' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S JEEVAKA NETTING ' if 'JEEVAKA' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ILC IRON & STEEL ' if 'ILC' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ILC IRON & STEEL ' if 'I.L.C' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S AARAL MARKETING ' if 'AARAL' in x else x)\ndf['PARTY'] = df['PARTY'].apply(lambda x: 'M/S ARCHANA IRON TRADERS' if 'ARCHANA' in x else x) \n"

In [24]:
"""party_map = {
    'KAMINI': 'M/S KAMINI IRON & STEEL',
    'APPLE': 'M/S APPLE SURAIDO FITTINGS',
    'JEEVAKA': 'M/S JEEVAKA NETTING',
    'ILC': 'M/S ILC IRON & STEEL',
    'I.L.C': 'M/S ILC IRON & STEEL',
    'AARAL': 'M/S AARAL MARKETING',
    'BABA': 'M/S BABA AKHILA JYOTHI',
    'ARCHANA': 'M/S ARCHANA IRON TRADERS',
    "SD CORP": "M/S SD CORP",
    "S.D CORP": "M/S SD CORP",
    "S.D CORPORATION": "M/S SD CORP",
    "S D CORP": "M/S SD CORP",
    'SD CROP': "M/S SD CORP", 
    "TN COMMERCIAL": "M/S T.N COMMERCIAL",
    "T N COMMERCIALS": "M/S T.N COMMERCIAL",
    "T.N COMMERCIAL": "M/S T.N COMMERCIAL",
    "T N COMMERCIAL": "M/S T.N COMMERCIAL",
    "TN COMMERCIALS": "M/S T.N COMMERCIAL",
    "T N COMMERICIALS": "M/S T.N COMMERCIAL",
    
    "SHREE MAHAVIR": "M/S SHREE MAHAVIR STEELS",
    "SHREE MAHAVIR STEELS": "M/S SHREE MAHAVIR STEELS",
    "SHREE MAHAVIR STEEL": "M/S SHREE MAHAVIR STEELS",
    
    "KANIKA ISPAT": "M/S KANIKA ISPAT",
    "M/S KANIKA ISPAT PVT LTD": "M/S KANIKA ISPAT",
    
    "VANYA STEELS": "M/S VANYA STEELS",
    "VANYA STEEL": "M/S VANYA STEELS",
    
    "A.S IRON & STEEL": "M/S A.S IRON & STEEL",
    "A S IRON & STEEL": "M/S A.S IRON & STEEL",
    'AS IRON & STEEL ':"M/S A.S IRON & STEEL",
    "RAJENDER METALLICS": "M/S RAJENDER METALLIC",
    "M/S RAJENDER METTALIC": "M/S RAJENDER METALLIC",
    "RAJENDRA METALLIC": "M/S RAJENDER METALLIC",
    "RAJENDRA METALLICS": "M/S RAJENDER METALLIC",
    
    "BHADRASHREE STEEL": "M/S BHADRASHREE STEEL",
    "M/S BHADRASHREE STEEL": "M/S BHADRASHREE STEEL",
    "BHADRA SHREE STEELS": "M/S BHADRASHREE STEEL",
    
    "M/S HARIOM PIPE INDUSTRIES": "M/S HARIOM PIPE INDUSTRIES",
    "M/S HARIOM PIPES": "M/S HARIOM PIPE INDUSTRIES",
    'HARI OM PIPE':"M/S HARIOM PIPE INDUSTRIES",
    "SATVIK GLOBAL": "M/S SATVIK GLOBAL",
    'KARNATAKA FERRO':'M/S KARNATAKA FERRO',
    'SRI KRISHNA STEELS':'M/S SRI KRISHNA STEELS ',
    'SRI KRISHNA STEEL':'M/S SRI KRISHNA STEELS '
}
df['PARTY'] = df['PARTY'].apply(lambda x: next(
    (replacement for key, replacement in party_map.items() if key in x), x
))"""

'party_map = {\n    \'KAMINI\': \'M/S KAMINI IRON & STEEL\',\n    \'APPLE\': \'M/S APPLE SURAIDO FITTINGS\',\n    \'JEEVAKA\': \'M/S JEEVAKA NETTING\',\n    \'ILC\': \'M/S ILC IRON & STEEL\',\n    \'I.L.C\': \'M/S ILC IRON & STEEL\',\n    \'AARAL\': \'M/S AARAL MARKETING\',\n    \'BABA\': \'M/S BABA AKHILA JYOTHI\',\n    \'ARCHANA\': \'M/S ARCHANA IRON TRADERS\',\n    "SD CORP": "M/S SD CORP",\n    "S.D CORP": "M/S SD CORP",\n    "S.D CORPORATION": "M/S SD CORP",\n    "S D CORP": "M/S SD CORP",\n    \'SD CROP\': "M/S SD CORP", \n    "TN COMMERCIAL": "M/S T.N COMMERCIAL",\n    "T N COMMERCIALS": "M/S T.N COMMERCIAL",\n    "T.N COMMERCIAL": "M/S T.N COMMERCIAL",\n    "T N COMMERCIAL": "M/S T.N COMMERCIAL",\n    "TN COMMERCIALS": "M/S T.N COMMERCIAL",\n    "T N COMMERICIALS": "M/S T.N COMMERCIAL",\n    \n    "SHREE MAHAVIR": "M/S SHREE MAHAVIR STEELS",\n    "SHREE MAHAVIR STEELS": "M/S SHREE MAHAVIR STEELS",\n    "SHREE MAHAVIR STEEL": "M/S SHREE MAHAVIR STEELS",\n    \n    "KANIKA ISPAT": "M/S KANIKA ISPAT",\n    "M/S KANIKA ISPAT PVT LTD": "M/S KANIKA ISPAT",\n    \n    "VANYA STEELS": "M/S VANYA STEELS",\n    "VANYA STEEL": "M/S VANYA STEELS",\n    \n    "A.S IRON & STEEL": "M/S A.S IRON & STEEL",\n    "A S IRON & STEEL": "M/S A.S IRON & STEEL",\n    \'AS IRON & STEEL \':"M/S A.S IRON & STEEL",\n    "RAJENDER METALLICS": "M/S RAJENDER METALLIC",\n    "M/S RAJENDER METTALIC": "M/S RAJENDER METALLIC",\n    "RAJENDRA METALLIC": "M/S RAJENDER METALLIC",\n    "RAJENDRA METALLICS": "M/S RAJENDER METALLIC",\n    \n    "BHADRASHREE STEEL": "M/S BHADRASHREE STEEL",\n    "M/S BHADRASHREE STEEL": "M/S BHADRASHREE STEEL",\n    "BHADRA SHREE STEELS": "M/S BHADRASHREE STEEL",\n    \n    "M/S HARIOM PIPE INDUSTRIES": "M/S HARIOM PIPE INDUSTRIES",\n    "M/S HARIOM PIPES": "M/S HARIOM PIPE INDUSTRIES",\n    \'HARI OM PIPE\':"M/S HARIOM PIPE INDUSTRIES",\n    "SATVIK GLOBAL": "M/S SATVIK GLOBAL",\n    \'KARNATAKA FERRO\':\'M/S KARNATAKA FERRO\',\n    \'SRI KRISHNA STEELS\':\'M/S SRI KRISHNA STEELS \',\n    \'SRI KRISHNA STEEL\':\'M/S SRI KRISHNA STEELS \'\n}\ndf[\'PARTY\'] = df[\'PARTY\'].apply(lambda x: next(\n    (replacement for key, replacement in party_map.items() if key in x), x\n))'

In [25]:
"""import pandas as pd
import difflib

# Example function using fuzzy matching
def get_closest_match(value, mapping, threshold=0.7):
    matches = difflib.get_close_matches(value, mapping.keys(), n=1, cutoff=threshold)
    return mapping[matches[0]] if matches else value

df['PARTY'] = df['PARTY'].apply(lambda x: get_closest_match(x, party_map))"""

"import pandas as pd\nimport difflib\n\n# Example function using fuzzy matching\ndef get_closest_match(value, mapping, threshold=0.7):\n    matches = difflib.get_close_matches(value, mapping.keys(), n=1, cutoff=threshold)\n    return mapping[matches[0]] if matches else value\n\ndf['PARTY'] = df['PARTY'].apply(lambda x: get_closest_match(x, party_map))"

In [26]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.12.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.12.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
    3.1/3.1 MB 56.2 MB/s eta 0:00:00
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.12.2
Note: you may need to restart the kernel to use updated packages.

In [27]:
from rapidfuzz import process
# List of standard party names
unique_parties = [
    "M/S APPLE SURAIDO FITTINGS",
    "M/S KAMINI IRON & STEEL",
    "M/S ILC IRON & STEEL",
    "M/S JEEVAKA NETTING",
    "M/S AARAL MARKETING",
    "M/S BABA AKHILA JYOTHI",
    "M/S ARCHANA IRON TRADERS",
    "M/S KOTHARI ISPAT",
    "M/S SWASTIK STEELS",
    "M/S KANIKA ISPAT",
    "M/S VANYA STEELS",
    "M/S RAJENDER METALLIC",
    "M/S A.S IRON & STEEL",
    "M/S SD CORP",
    "M/S AKASH STEELS",
    "M/S VANYA STEELS",
    "M/S SRI KRISHNA STEELS",
    "M/S SUSHMA SALES",
    "M/S ANUPAM FUELS",
    "M/S SATVIK GLOBAL",
    "RAM SHYAM ENTERPRISES",
    "M/S SHREE MAHAVIR STEELS",
    "M/S BHADRASHREE STEEL",
    "M/S T.N COMMERCIAL",
    "KARNATAKA FERRO",
    "M/S SHARMA STEELS",
    "M/S SHREEM TRADERS",
    "M/S RADHA STEEL",
    "M/S ACS ETERNAL METAL",
    "M/S PRANAY ISPAT",
    "M/S HARIOM PIPE INDUSTRIES",
    "M/S TUNICS SPONGE",
    "M/S TANUSH ISPAT",
]
# Function to find the best match using (fuzzy matching)
def get_best_match(value, choices, threshold=73):
    match = process.extractOne(value, choices, score_cutoff=threshold)
    return match[0] if match else value  # Return best match or original value

# Apply fuzzy matching to clean the 'PARTY' column
df['PARTY'] = df['PARTY'].apply(lambda x: get_best_match(x, unique_parties))

In [28]:
# printing unmatched values
unmatched = df[~df['PARTY'].isin(unique_parties)]
if not unmatched.empty:
    print("Unmatched Values for Review:")
    print(unmatched['PARTY'].unique())

# Display cleaned df
print(df['PARTY'].value_counts())

Unmatched Values for Review:
['BINDHU SARIA' 'AGARWAL SPONGE' 'GARG STEEL TRADING'
 'SAIVIJAY PRAGATI STEEL' 'S.D CORPORATION' 'V R INTERNATIONAL' 'RAJ EXIM']
PARTY
M/S KAMINI IRON & STEEL       271
M/S APPLE SURAIDO FITTINGS    258
M/S ILC IRON & STEEL          142
M/S JEEVAKA NETTING           137
M/S AARAL MARKETING            94
M/S RAJENDER METALLIC          67
M/S BABA AKHILA JYOTHI         57
M/S T.N COMMERCIAL             56
M/S VANYA STEELS               54
M/S SD CORP                    51
M/S SHREE MAHAVIR STEELS       42
M/S KANIKA ISPAT               40
M/S ARCHANA IRON TRADERS       33
M/S A.S IRON & STEEL           31
M/S SWASTIK STEELS             31
M/S KOTHARI ISPAT              27
M/S BHADRASHREE STEEL          27
M/S SRI KRISHNA STEELS         25
M/S SATVIK GLOBAL              21
M/S ANUPAM FUELS               20
M/S AKASH STEELS               18
RAM SHYAM ENTERPRISES          18
M/S SUSHMA SALES               17
KARNATAKA FERRO                13
M/S RADHA STEEL                11
M/S HARIOM PIPE INDUSTRIES     10
M/S SHARMA STEELS               9
M/S PRANAY ISPAT                8
M/S SHREEM TRADERS              7
M/S ACS ETERNAL METAL           6
S.D CORPORATION                 6
M/S TUNICS SPONGE               6
M/S TANUSH ISPAT                3
BINDHU SARIA                    2
GARG STEEL TRADING              2
SAIVIJAY PRAGATI STEEL          2
V R INTERNATIONAL               1
RAJ EXIM                        1
AGARWAL SPONGE                  1
Name: count, dtype: int64

In [29]:
party_map = {

    "S.D CORPORATION": "M/S SD CORP",

}
df['PARTY'] = df['PARTY'].apply(lambda x: next(
    (replacement for key, replacement in party_map.items() if key in x), x
))

In [30]:
"""# Dictionary mapping variations to standardized names
standardization_map = {
    "M/S SD CORP": ["SD CORP", "S.D CORP", "S.D CORPORATION", "S D CORP"],
    "M/S T.N COMMERCIAL": ["TN COMMERCIAL", "T N COMMERCIALS", "T.N COMMERCIAL", "T N COMMERCIAL", "TN COMMERCIALS", "T N COMMERICIALS"],
    "M/S SHREE MAHAVIR STEELS": ["SHREE MAHAVIR", "SHREE MAHAVIR STEELS", "SHREE MAHAVIR STEEL"],
    "M/S KANIKA ISPAT": ["KANIKA ISPAT", "M/S KANIKA ISPAT PVT LTD"],
    "M/S VANYA STEELS": ["VANYA STEELS", "VANYA STEEL"],
    "M/S A.S IRON & STEEL": ["A.S IRON & STEEL", "A S IRON & STEEL"],
    "M/S RAJENDER METALLIC": ["RAJENDER METALLICS", "M/S RAJENDER METTALIC", "RAJENDRA METALLIC", "RAJENDRA METALLICS"],
    "M/S BHADRASHREE STEEL": ["BHADRASHREE STEEL", "M/S BHADRASHREE STEEL", "BHADRA SHREE STEELS"],
    "M/S HARIOM PIPE INDUSTRIES": ["M/S HARIOM PIPE INDUSTRIES", "M/S HARIOM PIPES"],
    "M/S SATVIK GLOBAL": ["SATVIK GLOBAL"],
}

# Function to replace variations in the original dataset
def replace_variations(df, column, mapping):
    for standard, variations in mapping.items():
        df[column] = df[column].replace(variations + [standard], standard)

# Apply replacements
replace_variations(df, 'PARTY', standardization_map)

# Remove duplicates while maintaining order
df = df.drop_duplicates(subset=['PARTY'])

# Print result
print(df)
"""

'# Dictionary mapping variations to standardized names\nstandardization_map = {\n    "M/S SD CORP": ["SD CORP", "S.D CORP", "S.D CORPORATION", "S D CORP"],\n    "M/S T.N COMMERCIAL": ["TN COMMERCIAL", "T N COMMERCIALS", "T.N COMMERCIAL", "T N COMMERCIAL", "TN COMMERCIALS", "T N COMMERICIALS"],\n    "M/S SHREE MAHAVIR STEELS": ["SHREE MAHAVIR", "SHREE MAHAVIR STEELS", "SHREE MAHAVIR STEEL"],\n    "M/S KANIKA ISPAT": ["KANIKA ISPAT", "M/S KANIKA ISPAT PVT LTD"],\n    "M/S VANYA STEELS": ["VANYA STEELS", "VANYA STEEL"],\n    "M/S A.S IRON & STEEL": ["A.S IRON & STEEL", "A S IRON & STEEL"],\n    "M/S RAJENDER METALLIC": ["RAJENDER METALLICS", "M/S RAJENDER METTALIC", "RAJENDRA METALLIC", "RAJENDRA METALLICS"],\n    "M/S BHADRASHREE STEEL": ["BHADRASHREE STEEL", "M/S BHADRASHREE STEEL", "BHADRA SHREE STEELS"],\n    "M/S HARIOM PIPE INDUSTRIES": ["M/S HARIOM PIPE INDUSTRIES", "M/S HARIOM PIPES"],\n    "M/S SATVIK GLOBAL": ["SATVIK GLOBAL"],\n}\n\n# Function to replace variations in the original dataset\ndef replace_variations(df, column, mapping):\n    for standard, variations in mapping.items():\n        df[column] = df[column].replace(variations + [standard], standard)\n\n# Apply replacements\nreplace_variations(df, \'PARTY\', standardization_map)\n\n# Remove duplicates while maintaining order\ndf = df.drop_duplicates(subset=[\'PARTY\'])\n\n# Print result\nprint(df)\n'

In [31]:
counts = df['PARTY'].value_counts()
print((counts.head(60)))

PARTY
M/S KAMINI IRON & STEEL       271
M/S APPLE SURAIDO FITTINGS    258
M/S ILC IRON & STEEL          142
M/S JEEVAKA NETTING           137
M/S AARAL MARKETING            94
M/S RAJENDER METALLIC          67
M/S BABA AKHILA JYOTHI         57
M/S SD CORP                    57
M/S T.N COMMERCIAL             56
M/S VANYA STEELS               54
M/S SHREE MAHAVIR STEELS       42
M/S KANIKA ISPAT               40
M/S ARCHANA IRON TRADERS       33
M/S A.S IRON & STEEL           31
M/S SWASTIK STEELS             31
M/S KOTHARI ISPAT              27
M/S BHADRASHREE STEEL          27
M/S SRI KRISHNA STEELS         25
M/S SATVIK GLOBAL              21
M/S ANUPAM FUELS               20
M/S AKASH STEELS               18
RAM SHYAM ENTERPRISES          18
M/S SUSHMA SALES               17
KARNATAKA FERRO                13
M/S RADHA STEEL                11
M/S HARIOM PIPE INDUSTRIES     10
M/S SHARMA STEELS               9
M/S PRANAY ISPAT                8
M/S SHREEM TRADERS              7
M/S ACS ETERNAL METAL           6
M/S TUNICS SPONGE               6
M/S TANUSH ISPAT                3
BINDHU SARIA                    2
GARG STEEL TRADING              2
SAIVIJAY PRAGATI STEEL          2
V R INTERNATIONAL               1
RAJ EXIM                        1
AGARWAL SPONGE                  1
Name: count, dtype: int64

In [32]:
"""df['LO DATE'] = pd.to_datetime(df['LO DATE'])  # Ensure 'LO DATE' is in datetime format

df['year'] = df['LO DATE'].dt.year
df['month'] = df['LO DATE'].dt.month
df['day'] = df['LO DATE'].dt.day
df"""

"df['LO DATE'] = pd.to_datetime(df['LO DATE'])  # Ensure 'LO DATE' is in datetime format\n\ndf['year'] = df['LO DATE'].dt.year\ndf['month'] = df['LO DATE'].dt.month\ndf['day'] = df['LO DATE'].dt.day\ndf"

In [33]:
# Extract year, month, and day for both columns
df[['LO_year', 'UN_year']] = df[['LO DATE', 'UN DATE']].apply(lambda x: x.dt.year)
df[['LO_month', 'UN_month']] = df[['LO DATE', 'UN DATE']].apply(lambda x: x.dt.month)
df[['LO_day', 'UN_day']] = df[['LO DATE', 'UN DATE']].apply(lambda x: x.dt.day)
df.tail()

,LO DATE,UN DATE,PARTY,VECHILE NO,GC,L.W,FRIGHT,TOTAL,LO_year,UN_year,LO_month,UN_month,LO_day,UN_day
2259,2025-01-10,2025-01-12,M/S KAMINI IRON & STEEL,TS06UC7299,3088,44.96,1000,44960,2025,2025,1,1,10,12
2260,2025-01-09,2025-01-12,M/S KAMINI IRON & STEEL,TS07UF4994,3078,51.63,1000,51630,2025,2025,1,1,9,12
2261,2025-01-12,2025-01-13,M/S APPLE SURAIDO FITTINGS,TS07UH4239,3158,44.99,1000,44990,2025,2025,1,1,12,13
2262,2025-01-11,2025-01-14,M/S APPLE SURAIDO FITTINGS,TS07UE2111,3169,51.85,1000,51850,2025,2025,1,1,11,14
2263,2025-01-11,2025-01-14,M/S APPLE SURAIDO FITTINGS,TS07UC8019,3097,46.66,1000,46660,2025,2025,1,1,11,14

In [34]:
df.dtypes

LO DATE       datetime64[ns]
UN DATE       datetime64[ns]
PARTY                 object
VECHILE NO            object
GC                     Int64
L.W                   object
FRIGHT                 Int64
TOTAL                 object
LO_year                int32
UN_year                int32
LO_month               int32
UN_month               int32
LO_day                 int32
UN_day                 int32
dtype: object

In [35]:
# display(your_function(default_value)) remember to add it on last line of cell while pushing

In [36]:
pip install snowflake-connector-python pandas sqlalchemy

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (67 kB)
      67.8/67.8 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.36)
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (43.0.3)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2.10.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2024.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2.32.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (24.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2024.12.14)
Requirement already satisfied: typing_extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (4.12.2)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (4.3.6)
Collecting tomlkit (from snowflake-connector-python)
  Downloading tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.22)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy>=1.22.4->pandas) (2.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python) (2.2.3)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.22.4->pandas) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.22.4->pandas) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy>=1.22.4->pandas) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy>=1.22.4->pandas) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy>=1.22.4->pandas) (2024.2.0)
Downloading snowflake_connector_python-3.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
    2.5/2.5 MB 48.5 MB/s eta 0:00:00
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
    105.0/105.0 kB 4.9 MB/s eta 0:00:00
Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)
Installing collected packages: asn1crypto, tomlkit, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 snowflake-connector-python-3.14.0 tomlkit-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [37]:
!pip install --upgrade snowflake-sqlalchemy

Collecting snowflake-sqlalchemy
  Downloading snowflake_sqlalchemy-1.7.3-py3-none-any.whl.metadata (28 kB)
Requirement already satisfied: snowflake-connector-python<4.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-sqlalchemy) (3.14.0)
Requirement already satisfied: sqlalchemy>=1.4.19 in /usr/local/lib/python3.10/dist-packages (from snowflake-sqlalchemy) (2.0.36)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (43.0.3)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.10.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2024.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.32.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (24.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2024.12.14)
Requirement already satisfied: typing_extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (4.12.2)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (4.3.6)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (0.13.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.4.19->snowflake-sqlalchemy) (3.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.2.3)
Downloading snowflake_sqlalchemy-1.7.3-py3-none-any.whl (70 kB)
    70.0/70.0 kB 2.8 MB/s eta 0:00:00
Installing collected packages: snowflake-sqlalchemy
Successfully installed snowflake-sqlalchemy-1.7.3

In [38]:
import snowflake.sqlalchemy
print("Snowflake SQLAlchemy installed successfully!")

Snowflake SQLAlchemy installed successfully!

In [39]:
import snowflake.connector
from sqlalchemy import create_engine
import urllib.parse
import json

# Load secrets from Kaggle
from kaggle_secrets import UserSecretsClient
user_secrets = UserSecretsClient()
secrets = json.loads(user_secrets.get_secret("snowflake"))  # Label must match exactly
user = secrets.get("SNOWFLAKE_USER")
password = secrets.get("SNOWFLAKE_PASSWORD")
# Snowflake credentials
account = "HWXSBYU-JU26328"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "TRANSPORT_DATA"
schema = "PUBLIC"

# URL encode the password (important if it contains special characters like @, !, etc.)
encoded_password = urllib.parse.quote(password)

# Create SQLAlchemy Engine for Snowflake
engine = create_engine(
    f"snowflake://{user}:{encoded_password}@{account}/{database}/{schema}?warehouse={warehouse}&role={role}"
)

# Test Connection
conn = engine.connect()
print("Connected to Snowflake successfully!")
conn.close()

Connected to Snowflake successfully!

In [40]:
print(df.isnull().sum())  # Shows count of NaN values in each column

LO DATE       0
UN DATE       0
PARTY         0
VECHILE NO    0
GC            0
L.W           0
FRIGHT        0
TOTAL         0
LO_year       0
UN_year       0
LO_month      0
UN_month      0
LO_day        0
UN_day        0
dtype: int64

In [41]:
print(df.dtypes)

LO DATE       datetime64[ns]
UN DATE       datetime64[ns]
PARTY                 object
VECHILE NO            object
GC                     Int64
L.W                   object
FRIGHT                 Int64
TOTAL                 object
LO_year                int32
UN_year                int32
LO_month               int32
UN_month               int32
LO_day                 int32
UN_day                 int32
dtype: object

In [42]:
df["L.W"] = pd.to_numeric(df["L.W"], errors="coerce")
df["TOTAL"] = pd.to_numeric(df["TOTAL"], errors="coerce")

In [43]:
df.to_sql("Transport_Details", con=engine, if_exists="replace", index=False)
print("Data uploaded to Snowflake successfully!")

Data uploaded to Snowflake successfully!